<header class='home'>
    <div class='container mt-4'>
        <div class='wrapper'>
            <h2>Thư viện sách</h2>
            <div class='account-btn'>
                <a href='/user/login'>
                    <button type='button' class='btn btn-primary'>Đăng nhập</button>
                </a>
                <a href='/user/sign-up'>
                    <button type='button' class='btn btn-info'>Đăng ký</button>
                </a>
            </div>
        </div>
    </div>
</header>
<div class='container mt-4'>
    <table class='table table-striped'>
        <thead>
            <tr>
                <th scope='col'>Tiêu đề</th>
                <th scope='col'>Thể loại</th>
                <th scope='col'>Ngày phát hành</th>
                <th scope='col'>Số Trang</th>
                <th scope='col'> </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Chiếc thuyền ngoài xa</td>
                <td>Truyện ngắn kinh dị</td>
                <td>21/10/2022</td>
                <td>1</td>
            </tr>
        </tbody>
    </table>
</div>