
<header class='container header-login'>
    <a href="/">
        <img class='logo' src="https://media.istockphoto.com/vectors/book-logo-template-vector-id1256528848?b=1&k=20&m=1256528848&s=612x612&w=0&h=T9559DTJrWCW2aVrIpQgcxl515QitubN_Bikya3w27k=" alt="logo">
    </a>
    <h2 class="header-title">Đăng ký</h2>
</header>

<div class='container mt-4 form'>
    <form method='post' class='mt-4 form-sign-up'>
        <div class='form-group'>
            <label for='account-signup'>Tài khoản</label>
            <input
                id='account-signup'
                type='text'
                class='form-control'
                placeholder='Enter account'
                autocomplete='off'
                name='account'
                required
            />
        </div>
        <div class='form-group'>
            <label for='email'>Email</label>
            <input
                type='email'
                class='form-control'
                id='email-signup'
                aria-describedby='emailHelp'
                placeholder='Enter email'
                name='email'
                required
            />
        </div>
        <div class='form-group'>
            <label for='password'>Mật khẩu</label>
            <input
                type='password'
                name='password'
                class='form-control'
                id='password-signup'
                placeholder='Password'
                required
            />
        </div>
        <div class='form-group'>
            <label for='confirm-password'>Xác nhận mật khẩu</label>
            <input
                type='password'
                class='form-control'
                id='confirm-password-signup'
                placeholder='Confirm Password'
                name='confirm-password'
                required
            />
        </div>
        <div class='form-group'>
            <label for='age-signup'>Tuổi</label>
            <input
                id='age-signup'
                type='number'
                class='form-control'
                placeholder='Enter your age'
                autocomplete='off'
                name='age'
            />
        </div>
        <div class='form-group'>
            <label for='address-signup'>Địa chỉ</label>
            <input
                id='address-signup'
                type='text'
                class='form-control'
                placeholder='Enter address'
                autocomplete='off'
                name='address'
            />
        </div>
        <button type='submit' class='btn btn-primary'>Đăng ký</button>
    </form>
</div>

<script>
    const $ = document.querySelector.bind(document); 
    const $$ = document.querySelectorAll.bind(document); 
    const form = $('.form-sign-up');
    form.addEventListener('submit', async(e) => {
        e.preventDefault();
        const pwInput = $('#password-signup');
        const confirmPwInput = $('#confirm-password-signup');
        if(confirmPwInput.value !== pwInput.value){
            alert('Mat khau ko trung khop')
        } else {
            let account = $('#account-signup');
            let email = $('#email-signup');
            let checkaccount = await checkAccount('/user/check/account-sign-up',{account:account.value, email:email.value});
            if(checkaccount.result){
                setTimeout(() => {
                    form.action = '/user/sign-up-now';
                    form.submit();
                },2000);
            } else {
                alert(checkaccount.msg);
            }
        }

    })

    async function checkAccount(url, data) {
        var option = {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        };
        let data2 = await fetch(url,option);
        let result = await data2.json();
        return result;
    }
</script>